/* fondo del body */
body{
    background-color: #d7d7d7;
}
/* Contenedor */
.contenedor{
    /* poner altura falsa */
    height: 100vh;
    /* fondo de la web */
    background-color: #F9F9E2;
    /* Ancho controlado */
    max-width: 1366px;
    /* Siempre en el centro de las pantallas */
    margin: 0 auto;    
    /* margenes */
    box-sizing: border-box;
    padding: 35px 60px 0 60px;
}

header{
    display: flex;
    align-items: center;
}

/* Circulo representando la zona del logo */
.circulo{
    /* color */
    background-color: orange;
    /* forma */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* margen */
    margin: 20px;
}

.rectanguloAzul{
    /* color */
    background-color: blue;
    /* forma */
    height: 200px;
    /* margen */
    /* Con flex-grow se queda con todo el espacio que sobra desde el circulo*/
    flex-grow: 1;
}

.rectanguloRedondeado{
    /* color */
    background-color: orange;
    /* forma */
    height: 600px;
    border-radius: 150px;
    /* margen */
    margin-top: 100px;
}

.rectanguloBlanco{
    /* color */
    background-color: white;
    /* forma */
    height: 400px;
    /* margen */
    margin-top: 100px;

}

.circuloRectangulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px ;
}

.reverso{
    flex-flow: row-reverse wrap;
}

.circuloVerde{
    /* color */
    background-color: green;
    /* forma */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* NO FLEXIBLE DENTRO de Flex */
    flex-shrink: 0;
}

.margen{
    margin-left: 50px;
}

.rectanguloVerde{
    /* color */
    background-color: rgb(144, 201, 144);
    /* forma */
    height: 300px;
    /* margen */
    /* Con flex-grow se queda con todo el espacio que sobra desde el circulo*/
    flex-grow: 1;
}


